// fonts
$area: 'Area Inktrap';
$atyp: 'Atyp Display';
$neon: 'Neon';

// colors
$gold-primary: #dbc99f;
$light-grey: #d9d9d9;
$grey: #626262;
$milk-white: #fafafa;

// breakpoints
$laptop_big: 1760px;
$laptop: 1440px;
$laptop_small: 1280px;
$tablet_big: 1140px;
$tablet: 768px;
$tablet_small: 656px;
$mobile_big: 565px;
$mobile: 465px;
$mobile_small: 376px;
