.header {
  @apply fixed top-0 left-0 right-0 w-full p-[3.588vw] flex items-center justify-between z-[2] opacity-0 translate-y-[-100%] duration-[650ms] delay-[500ms];

  @media (max-width: $tablet) {
    @apply pt-[5.641vw] px-[4.103vw];
  }

  transition-timing-function: cubic-bezier(0.45, 0, 0.55, 1);
  transition-property: opacity, transform;

  &.loaded {
    @apply opacity-100 translate-y-0;
  }

  &AppStoreLink {
    @apply w-[10.417vw] h-[3.819vw] cursor-pointer;

    img {
      @apply w-full h-full object-contain object-center select-none;
    }
  }

  &Socials {
    @apply flex gap-[1.215vw];

    @media (max-width: $tablet) {
      @apply gap-0 items-center justify-between w-full;
    }

    a {
      @apply w-[4.630vw] h-[4.630vw] cursor-pointer;

      @media (max-width: $tablet) {
        @apply w-[15.385vw] h-[15.385vw];
      }

      svg {
        @apply w-full h-full pointer-events-none;
      }
    }
  }
}
