.button {
  @apply relative px-[1.697vw] py-[1.305vw] pb-[1vw] min-w-[8.159vw] w-fit text-[1.044vw] font-medium rounded-[3.264vw] flex items-center justify-center cursor-pointer;

  border: 0.059vw solid #fafafa;
  font-weight: 600 !important;

  @media (max-width: $tablet) {
    @apply text-[4.103vw] min-w-[47.436vw] w-fit py-[5.128vw] px-[6.667vw] rounded-[12.821vw];
  }

  &.filled {
    @apply bg-white;
    color: #181818;
  }

  &.transparent {
    @apply bg-transparent;
  }

  font-feature-settings: 'calt' off, 'liga' off;
  line-height: 100%;
}
